force-app/main/default/flows/FS_Actualizar_Numero_de_dias_consumidos_en_Proyecto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Incrementar_Numero_de_dias_consumidos</name>
        <label>Incrementar Número de días consumidos</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Proyecto_Analisis_Previo.FS_Numero_de_dias_consumidos__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_DiasAprobacionAnalisisPrevio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Proyecto_Analisis_Precio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Numero_de_dias_consumidos2</name>
        <label>Incrementar Número de días consumidos</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Proyecto_Estimacion_Macro.FS_Numero_de_dias_consumidos__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_DiasAprobacionEstimacionMacro__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Proyecto_Estimacion_Macro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Numero_de_dias_consumidos3</name>
        <label>Incrementar Número de días consumidos</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Proyecto_Estimacion_Macro.FS_Numero_de_dias_consumidos__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_DiasDEF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Proyecto_Estimacion_Macro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Numero_de_dias_consumidos4</name>
        <label>Incrementar Número de días consumidos</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Proyecto_En_Propuesta_Economica.FS_Numero_de_dias_consumidos__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_DiasAprobacionPropuestaEconomica__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Proyecto_Propuesta_Economica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Numero_de_dias_consumidos5</name>
        <label>Incrementar Número de días consumidos</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Proyecto_En_Propuesta_Economica.FS_Numero_de_dias_consumidos__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_DiasDEF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Proyecto_Propuesta_Economica</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validacion_de_campos</name>
        <label>Validación de campos</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acepta_Analisis_Previo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimación Macro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_AceptaAnalisisPrevio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasAprobacionAnalisisPrevio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasAprobacionAnalisisPrevio__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto_Analisis_Previo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementar_Numero_de_dias_consumidos</targetReference>
            </connector>
            <label>Acepta Análisis Previo</label>
        </rules>
        <rules>
            <name>Acepta_Estimacion_Macro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documento de Especificación Funcional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_AceptaEstimacionMacro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasAprobacionEstimacionMacro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasAprobacionEstimacionMacro__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto_Estimacion_Macro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementar_Numero_de_dias_consumidos2</targetReference>
            </connector>
            <label>Acepta Estimación Macro</label>
        </rules>
        <rules>
            <name>Rechaza_Estimacion_Macro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documento de Especificación Funcional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_AceptaEstimacionMacro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasDEF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasDEF__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto_Estimacion_Macro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementar_Numero_de_dias_consumidos3</targetReference>
            </connector>
            <label>Rechaza Estimación Macro</label>
        </rules>
        <rules>
            <name>Acepta_Propuesta_Economica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Planificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Acepta_Propuesta_Economica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasAprobacionPropuestaEconomica__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasAprobacionPropuestaEconomica__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto_En_Propuesta_Economica.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementar_Numero_de_dias_consumidos4</targetReference>
            </connector>
            <label>Acepta Propuesta Económica</label>
        </rules>
        <rules>
            <name>Rechaza_Propuesta_Economica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Planificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Acepta_Propuesta_Economica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasDEF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DiasDEF__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto_En_Propuesta_Economica.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementar_Numero_de_dias_consumidos5</targetReference>
            </connector>
            <label>Rechaza Propuesta Económica</label>
        </rules>
    </decisions>
    <description>Flujo que actualiza el campo Número de días consumidos en el objeto Proyecto, cada vez que en el Caso el Cliente aprueba el número de días.</description>
    <environments>Default</environments>
    <interviewLabel>Actualizar  Proyecto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Número de días consumidos en Proyecto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Proyecto_Analisis_Previo</name>
        <label>Proyecto Análisis Previo</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proyecto_Estimacion_Macro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_Buscar_Proyecto__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Es_Pre_contratado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FS_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Proyecto_En_Propuesta_Economica</name>
        <label>Proyecto En Propuesta Económica</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validacion_de_campos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_Buscar_Proyecto4__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Es_Pre_contratado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FS_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Proyecto_Estimacion_Macro</name>
        <label>Proyecto Estimación Macro</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proyecto_En_Propuesta_Economica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_Buscar_Proyecto2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Es_Pre_contratado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FS_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Proyecto_Analisis_Precio</name>
        <label>Actualizar Proyecto Análisis Precio</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>Proyecto_Analisis_Previo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Proyecto_Estimacion_Macro</name>
        <label>Actualizar Proyecto Estimación Macro</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputReference>Proyecto_Estimacion_Macro</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Proyecto_Propuesta_Economica</name>
        <label>Actualizar Proyecto Propuesta Económica</label>
        <locationX>710</locationX>
        <locationY>1163</locationY>
        <inputReference>Proyecto_En_Propuesta_Economica</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Proyecto_Analisis_Previo</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
