force-app/main/default/flows/FS_CrearCasoTiempoMaterialesSprint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>CuerpoNotificacionPM</name>
        <dataType>String</dataType>
        <expression>&apos;Tienes asignado un nuevo caso de control de cambio:  &apos; + {!Obtener_Nuevo_caso.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>CuerpoNotificacionTxtCC</name>
        <dataType>String</dataType>
        <expression>&apos;Tiene un nuevo caso de control de cambio &apos; + {!Obtener_Nuevo_caso.CaseNumber} + &apos;, relacionado al caso de requerimiento: &apos; + {!ObtenerCaso.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>FormulaAsunto</name>
        <dataType>String</dataType>
        <expression>&apos;Caso Hijo del Requerimiento T&amp;M #&apos; + {!ObtenerCaso.CaseNumber} + &apos;-&apos; + {!ObtenerCaso.Subject}</expression>
    </formulas>
    <interviewLabel>Crear Caso Tiempo y Materiales Sprint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Caso Tiempo y Materiales Sprint</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearCaso</name>
        <label>CrearCaso</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>NewRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>CargarArchivoPantalla</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ObtenerCaso.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ObtenerCaso.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Area__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Buscar_Proyecto2__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Buscar_Proyecto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Buscar_Proyecto3__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Buscar_Proyecto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Buscar_Proyecto4__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Buscar_Proyecto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Buscar_Proyecto__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Buscar_Proyecto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Carterizacion__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Carterizacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_DescripcionCliente__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_DescripcionCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Modulo__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Modulo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_OrigenCaso__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_OrigenCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Producto__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Referencia__c</field>
            <value>
                <elementReference>ReferenciaCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_SubEstado__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_SubEstado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_SubModulo__c</field>
            <value>
                <elementReference>ObtenerCaso.FS_SubModulo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_TipoRequerimiento__c</field>
            <value>
                <stringValue>Tiempo y Materiales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerCaso.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ObtenerCaso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>ObtenerCaso.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoTxt</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Nuevo_caso</name>
        <label>Obtener Nuevo caso</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCaso</name>
        <label>ObtenerCaso</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerTipoRegistro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerTipoRegistro</name>
        <label>Obtener Tipo de registro</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearCasoPantallaCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_TiempoMaterialesSprints</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CargarArchivoPantalla</name>
        <label>Pantalla Cargar Archivo</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Obtener_Nuevo_caso</targetReference>
        </connector>
        <fields>
            <name>CargarArchivo</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cargar Archivo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 11, 11);&quot;&gt;Tienes que cargar un archivo para continuar&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!CargarArchivo.contentDocIds}) &gt; 2, TRUE, FALSE )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>TxtArchivoCargado</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Archivo Cargado: {!CargarArchivo.fileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CargarArchivo.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CrearCasoPantallaCC</name>
        <label>Crear Caso Pantalla</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearCaso</targetReference>
        </connector>
        <fields>
            <name>CrearCasoPantallaCC_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CrearCasoPantallaCC_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AsuntoTxt</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FormulaAsunto</elementReference>
                    </defaultValue>
                    <fieldText>Asunto</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CrearCasoPantallaCC_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReferenciaCC</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObtenerCaso.FS_Referencia__c</elementReference>
                    </defaultValue>
                    <fieldText>Referencia</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CrearCasoPantallaCC_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CrearCasoPantallaCC_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescripcionCC</name>
                    <dataType>String</dataType>
                    <fieldText>Descripción</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CrearCasoPantallaCC_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prioridad</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Prioridad&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ObtenerCaso.Priority}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CrearCasoPantallaCC_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CrearCasoPantallaCC_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Origen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ObtenerCaso.FS_OrigenCaso__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CrearCasoPantallaCC_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CasoPadreCC</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Caso Padre&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ObtenerCaso.CaseNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerCaso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserComunidad</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userPM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
