force-app/main/default/flows/FS_ValidacionProductosAdquiridos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>RegistroDuplicado</name>
        <label>Registro Duplicado</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>El registro que est치 intentado crear ya existe o el producto est치 inactivo.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Existen_Duplicados</name>
        <label>Existen Duplicados</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerProductoAdquirido.FS_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FS_Cuenta__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerProductoAdquirido.FS_Producto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FS_Producto__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerProductoAdquirido.FS_Modulo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FS_Modulo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerProductoAdquirido.FS_SubModuloCatalogo__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FS_SubModuloCatalogo__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistroDuplicado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo que valida que no exista duplicidad en el objeto productos adquiridos.</description>
    <environments>Default</environments>
    <interviewLabel>Validaci칩n de Productos Adquiridos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validaci칩n de Productos Adquiridos actualizacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObtenerProductoAdquirido</name>
        <label>Obtener Productos Adquiridos</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Duplicados</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>FS_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_Producto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_Modulo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_SubModuloCatalogo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_SubModuloCatalogo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_Cuenta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FS_ProductoAdquirido__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerProductoAdquirido</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FS_Modulo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_Producto__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_SubModuloCatalogo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FS_ProductoAdquirido__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
